<!DOCTYPE html>
<html lang="en" ng-app="fine">
  <head>
    <meta charset="utf-8">
    <title>FINE</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="/vendor/angular/angular.min.js"></script>
    <script src="/vendor/angular-route/angular-route.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="header-area container-fluid">
      <div class="row">
        <div class="title-area">
          <div class="large-letter">F</div>
          <div class="small-letter">ood</div>
          <div class="large-letter">I</div>
          <div class="small-letter">nsecure</div>
          <div class="large-letter">N</div>
          <div class="small-letter">ourishment</div>
          <div class="large-letter">E</div>
          <div class="small-letter">ndeavor</div>
        </div>
      </div>
    </div>
    <div ng-view>

    </div>
  </body>
</html>
