<!DOCTYPE html>
<html lang="en" ng-app="fine">
  <head>
    <meta charset="utf-8">
    <title>FINE</title>

    <!-- google map -->
     <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDm-0-noMBH2llBIjNThF7HkDWWK8jqx60"></script>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="/vendor/angular/angular.min.js"></script>
    <script src="/vendor/angular-route/angular-route.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>

    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Lemonada" rel="stylesheet">

  </head>
  <body>
    <div class="header-area container-fluid">
      <div class="row">
        <div class="title-area text-right col-xs-3">
          <h1>FINE</h1>
          <h4>Food Insecure Nourishment Endeavor</h4>
          <hr>
          <h5>Making it easier to offer aid to those who could use a little help.</h5>
        </div>
      </div>
        <div class="tag-line text-right">
        </div>
          <hr>
    </div>
    <div ng-view>

    </div>
  </body>
</html>
