<h1>donation page</h1>
<div class="row hero-container">
  <div class="text-center col-xs-12">
    <img class="donation-hero" src="http://previews.123rf.com/images/seralexvi/seralexvi1408/seralexvi140800160/30959020-Collection-of-healthy-fresh-food-backgrounds-Stock-Photo-background.jpg" alt="pretty donation picture">
  </div>
</div>
<div class="donation-needs container" ng-controller="donationIndexCtrl as donationIndexCtrl">
  <form action="index.html" method="post">
    <section class="col-xs-3 pickUp-or-delivery">
      <div class="pick-up text-center row">
        <div class="pickup-checkbox">
          <input ng-click="pickUp=true" type="checkbox" value="None" id="pick-up" name="pick-up"> Pick-Up
          <label for="Pick-Up"></label>
        </div>
      </div>
      <div class="delivery-checkbox text-center row">
        <input ng-model="checked" type="checkbox" value="None" id="delivery" name="delivery" aria-label="Toggle ngShow"> Delivery
        <!-- <label for="Pick-Up"></label> -->
        <label class="text-center animate-show-hide" ng-show="checked">
          <input type="number" name="distance">
        </label>
      </div>
    </section>



    <div class="container">
      <div class="donation-requests row col-xs-6">
        <div class="container">
          <div class="row">
            <div class="input col-xs-2">
              <input type="number" name="chicken-quantity">
            </div>
            <div class="food-type col-xs-6">
              <h4>Servings of chicken</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="next button col-xs-6 text-center">
        <button class="btn-primary" type="button" name="button">Next</button>
      </div>
    </div>

  </form>
</div>
